.pytest_cache
.ruff_cache
.scannerwork
.venv
.vscode
build
docs
extras
mitarbeiter.egg-info
htmlcov
log
site
src/mitarbeiter/**/__pycache__
src/mitarbeiter/config/resources/tls/key.pem
tests
.coverage
.editorconfig
.gitignore
.markdownlint.yml
dependency-check-report.html
Dockerfile
Dockerfile.alpine
mkdocs.yml
openapi.json
mitarbeiter-*.xlsx
report.html
sonar-*
