.venv

__pycache__/
.pytest_cache
.ruff_cache
.scannerwork
.vscode
assets
build/
dist
docs/build
docs/diagramme/out
extras/**/__pycache__
htmlcov
log
site
src/mitarbeiter/**/__pycache__
src/mitarbeiter/mitarbeiter.egg-info
tests/**/__pycache__

.coverage
report.html
*.xlsx
dependency-check-report.html

# Sensible Daten
.env
extras/compose/db/postgres/db_password.txt
src/mitarbeiter/config/resources/tls/private-key.pem